<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeTShB211</key>
	<string>http://10.218.8.213:8630/pt/services/MOVE211</string>
	<key>HeTGL201</key>
	<string>http://10.218.8.213:8630/pt/services/MOVE201</string>
	<key>GongYShGL602</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE602</string>
	<key>GongYShGL601</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE601</string>
	<key>ZhaoBTP312</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE312</string>
	<key>ZhaoBTP311</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE311</string>
	<key>ZhaoBTB302</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE302</string>
	<key>ZhaoBTB301</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE301</string>
	<key>WuZGL102</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE102</string>
	<key>WuZGL101</key>
	<string>http://10.218.8.213:8080/thwlpt/ws/MOVE101</string>
</dict>
</plist>
