<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShengChDT</key>
	<string>http://10.218.8.35:8080/DayReport/getDynamicProduction.action?type=1</string>
	<key>XiangXChX</key>
	<string>http://10.218.8.35:8080/DayReport/getDynamicProduction.action?type=2</string>
	<key>KanTDT</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/ktdt/ktdtsy.jsp</string>
	<key>XiangXChX_K</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/ktdt/ktdt.jsp</string>
	<key>KaiFDT</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/kfdt/kfdtsy.jsp</string>
	<key>XiangXChX_KaiFDT</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/kfdt/kfdt.jsp</string>
	<key>KuCDT</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/openFlashChart/dynamic/kcdtsy.jsp</string>
	<key>XiangXChX_KuCDT</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/openFlashChart/dynamic/kcdt.jsp</string>
	<key>XiaoShDT</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/xsdt/xsdtsy.jsp</string>
	<key>XiangXChX_XiaoShDT</key>
	<string>http://10.218.8.35:8080/DayReport/cyc_rb/xsdt/xsdt.jsp</string>
</dict>
</plist>
